<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= render 'surveyors/settings_menu' %>
    </div>
    <div class="col-md-12">
      <div class="ui-block shadow">
        <div class="ui-block-title">
          <h2>
            <div class="row">
              <div class="col-md-6">
                Stylesheets
              </div>
              <div class="col-md-6">
                <div class="text-right">
                  <%= link_to new_stylesheet_path, class: 'btn btn-primary' do %>
                    Add
                  <% end %>
                </div>
              </div>
            </div>
          </h2>
        </div>
        <div class="ui-block-content">
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-primary">
                <% if @stylesheets.present? %>
                  <table id="dttb" class="table table-hover">
                    <thead>
                    <tr>
                      <th>Unique Id</th>
                      <th>Name</th>
                      <th>Type</th>
                      <th>Extension</th>
                      <th class="pl-5 text-center pr-5">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% @stylesheets.each do |stylesheet| %>
                      <tr>
                        <td class="pl-3"><%= stylesheet.unique_id %></td>
                        <td class="pl-3"><%= stylesheet.name %></td>
                        <td class="pl-3"><%= stylesheet.stylesheet_type %></td>
                        <td class="pl-3"><%= stylesheet.output_extension %></td>
                        <td class="pl-3">
                          <button class="btn btn-link" type="button" data-toggle="dropdown" title="Files">
                            <i class="fas fa-file-alt pl-2" style="font-size:19px; margin: -11px; color: black; aria-hidden:true"></i>
                          </button>
                          <ul class="dropdown-menu">
                            <% if stylesheet.file.attached? %>
                              <li class="pl-2">
                                <%= link_to stylesheet.label || 'file', rails_blob_path(stylesheet.file, disposition: "attachment"), class: 'btn btn-link'%>
                              </li>
                            <% end %>


                            <% if stylesheet.slx_template.attached? %>
                              <li class="pl-2">
                                <%= link_to 'slx file' , rails_blob_path(stylesheet.slx_template, disposition: "attachment"), class: 'btn btn-link'%>
                              </li>
                            <% end %>

                            <% if !stylesheet.slx_template.attached? && !stylesheet.file.attached? %>
                              <p class="alert alert-warning"> No File Attached</p>
                            <% end %>
                          </ul>


                          <%= link_to stylesheet_path(stylesheet), title: 'View' do %>
                            <i class="fa fa-list  m-1" style="font-size:19px; color: black; aria-hidden:true"></i>
                          <% end %>
                          <%= link_to edit_stylesheet_path(stylesheet), title: 'Edit' do %>
                            <i class="fa edit m-1" style="font-size:19px; color: black; aria-hidden:true">&#xf044;</i>
                          <% end %>
                          <%= link_to stylesheet_path(stylesheet), method: :delete, data: {confirm: 'Do you really want to delete this Controller?', commit: 'Delete!'}, title: 'Delete' do %>
                            <i class="fa fa-trash m-1"style="font-size:19px; color: black; aria-hidden:true"></i>
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                    </tbody>
                  </table>
                <% else %>
                  <div class="text-center pt-3 mt-3">
                    <div class="alert alert-warning">No Records Found</div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


