<div class="container pb-4">
  <div class="row">
    <div class="col-md-12">
      <%= render 'projects/job_menu' %>
    </div>
    <div class="col-md-12">
      <div class="ui-block shadow">
        <div class="ui-block-title">
          <h5>
            <div class="row">
              <div class="col-md-4">
                <div class="text-left">
                  <%= link_to "Back", project_tasks_path(@project), class: "btn btn-primary" %>
                </div>
              </div>
              <div class="col-md-4">
                <%=  @project.project_number %> - <%=  @project.name %>
              </div>
              <div class="col-md-4">
                <div class="text-right">
                  <%= link_to "Edit", edit_project_task_path(@project, @task), class: "btn btn-primary" %>
                </div>
              </div>
            </div>
          </h5>
        </div>
        <div class="ui-block-content">
          <% if @task.present? %>
            <div class="row pt-3">

              <div class="col-md-3 pl-5 pb-2"><b class="card-title">Due Date: </b></div>
              <div class="col-md-3"><%= @task.due_date.strftime('%Y-%m-%d') if @task.due_date || 'Not Provided' %></div>

              <div class="col-md-3 pl-5 pb-2"><b class="card-title">Completed Date: </b></div>
              <div class="col-md-3"><%= @task.completed_date.strftime('%Y-%m-%d') || 'Not Provided' %></div>

              <div class="col-md-3 pl-5 pb-2"><b class="card-title">Initials: </b></div>
              <div class="col-md-3"><%= @task.try(:surveyor).try(:full_name_initials) || 'Not Provided' %></div>

              <div class="col-md-12"><div class="dropdown-divider"></div></div>
              <div class="col-md-12 pl-5 pt-4">
                <h4>Description:</h4>
                <p class="card-text"><%= simple_format(@task.try(:description)) || 'Not Provided' %></p>
              </div>

              <div class="col-md-12"><div class="dropdown-divider"></div></div>
              <div class="col-md-12 pl-5 pt-4">
                <h4>Notes:</h4>
                <p class="card-text"><%= simple_format(@task.try(:notes)) || 'Not Provided' %></p>
              </div>
            </div>
          <% else %>
            There is no Task
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>