<div class="row pb-5">
  <div class="col-md-12 pb-5">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <%= image_tag('CenturionSurvey-Logo.gif') %>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 ml-auto mr-auto">

    <div class="ui-block shadow-lg rounded">
      <div class="ui-block-content">
        <h1 class="text-center pb-4">Log in</h1>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group">
            <%= f.email_field :email, autofocus: true, placeholder: 'Email Address', class: 'form-control', required: true %>
          </div>

          <div class="form-group">
            <%= f.password_field :password, autocomplete: "off", placeholder: 'Password', class: 'form-control', required: true %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="form-check">
              <label class="form-check-label">
                <%= f.check_box :remember_me, class: "form-check-input" %>
                Remember me
              </label>
            </div>
          <% end -%>

          <div class="form-group">
            <%= f.submit "Log in", class: "btn btn-primary btn-block btn-lg" %>
          </div>
        <% end %>

        <div class="text-center">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
