<%= form_with model: [@project, @correspondence] do |f| %>

  <div class="form-group">
    <%= f.text_field :file_type, autofocus: true, class: 'form-control', placeholder: "Type", required: true %>
  </div>

  <div class="form-group">
    <%= f.text_area :description, :cols => 10, :rows => 5, autofocus: false, class: 'form-control', placeholder: "Description" %>
  </div>

  <div class="form-group">
    <%= f.select :in_or_out, GivenDatum::IN_OUT_TYPES, {include_blank: "Select State"}, class: 'form-control', placeholder: "Incomming/Outgoing" %>
  </div>

  <div class="form-group">
    <%= f.text_field :to, autofocus: true, class: 'form-control', placeholder: "To" , required: true%>
  </div>


  <div class="form-group">
    <%= f.text_field :from, autofocus: true, class: 'form-control', placeholder: "From", required: true %>
  </div>

  <div class="form-group">
    <%= f.text_field :subject, autofocus: true, class: 'form-control', placeholder: "Subject", required: true %>
  </div>

  <div class="form-group">
    <%= f.text_field :date, autofocus: true, class: 'form-control datepicker', placeholder: "Date", required: true %>
  </div>

  <div class="form-group">
    <%= f.submit "Submit", class: "btn btn-primary btn-block btn-lg" %>
  </div>
  <% if @correspondence.persisted? %>
    <div class="text-center">
      <%= link_to "Cancel",project_correspondence_path(@project, @correspondence), class: "btn btn-link" %>
    </div>
  <% else %>
    <div class="text-center">
      <%= link_to "Cancel", project_correspondences_path(@project), class: "btn btn-link" %>
    </div>
  <% end %>
<% end %>